@model IEnumerable<Application>;

@{
    ViewData["Title"] = "Home Page";
}


<div class="box-header ui-sortable-handle" style="margin-top:15px">
    <div id="btn-tools" style="float:left;">
        <button id="addApp" type="submit" class="btn btn-group-justified btn-success" data-name="Add" data-toggle="modal" data-target="#crtModal" title="Add">
            Create
        </button>
    </div>
</div>

<section class="content">
    <div id="confirmDialog" title="Remove Assignment" hidden>
        <p>Do you want to save changes </p>
    </div>
    <div class="box box-success">
        <div style="margin-top:50px">
            <div class="table-responsive">
                <table id="dataviews-table" class="table table-hover">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Size</th>
                            <th>Dwscription</th>
                            <th>Category</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var app in Model)
                        {
                        <tr>
                            <td>@app.Name</td>
                            <td>@app.Size</td>
                            <td>@app.Description</td>
                            <td>@app.Category.Name</td>
                            <td>
                                @using (Html.BeginForm())
                                {
                                <span style="float:left; margin-right:5px"><button title="Delete" onclick="return confirm('Are you sure you wish to delete this article?');" asp-action="Delete" asp-controller="Home" asp-route-Id="@app.Id"><i class="glyphicon glyphicon-trash"></i></button></span>
                                }

                                @using (Html.BeginForm("Edit", "Home", FormMethod.Get))
                                {
                                <span style="float:left; margin-right:5px"><button title="Edit" method="" asp-action="Edit" asp-controller="Home" asp-route-Id="@app.Id"><i class="glyphicon glyphicon-edit"></i></button></span>
                                }
                                @*<button><a asp-action="Edit" title="Edit" asp-controller="Home" method="post" asp-route-Id="@app.Id"><i class="glyphicon glyphicon-edit"></i></a></button>
                                <form asp-action="Edit" asp-controller="Home" asp-route-Id="@app.Id" method="post">
                                    <button type="submit"><i class="fa fa-trash fa-lg"></i></button>
                                </form>*@
                            </td>
                        </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div id="crtModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div id="addModal" class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title"></h4>
                </div>
                <div class="modal-body">
                    <h2 style="text-align:center">Add Application</h2>
                    <form asp-action="Create" method="post" role="form">
                        <div class="form-group">
                            <input type="text" class="form-control" name="Name" placeholder="Name" />
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" name="Size" placeholder="Size" />
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" name="Description" placeholder="Description" />
                        </div>
                        <div class="form-group">
                            <select class="form-control" name="CategoryID">
                                <option value="" disabled="disabled" selected="selected">Category</option>
                                @foreach (var category in ViewBag.Categories)
                                {
                                <option value="@category.Id">@category.Name</option>
                                }
                            </select>
                        </div>
                        <button id="submit" type="submit" class="btn btn-group-justified btn-success btn-block"
                                data-toggle="modal" data-target="#crtModal">
                            Create
                        </button>
                    </form>
                </div>
                <div class="modal-footer"></div>
            </div>
        </div>
    </div>
</section>